@font-face {
  font-family: "ShadowHand";
  src: url("//2ttf.com/webfont/UIswCwhB/webfont.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-li {
    @apply text-white hover:text-black cursor-pointer;
  }

  .pointer-cursor > * {
    @apply cursor-pointer;
  }
}

.font-family-shadowhand {
  font-family: "ShadowHand";
}

.font-family-bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.note-buttons {
  padding: 0.2rem;
  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 2.5rem;
  font-weight: bold;
}

h5 {
  font-size: 2rem;
  font-weight: bold;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
}
